# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bbin/
obj/
bin/
[Ll]og/
[Ww]in32/

# Visual Studio files
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo

# JetBrains Rider
.idea/
*.sln.iml

# Vscode
.vscode/

# Local/Temp files
err_dump.txt
shake_test.png
*.log
*.tmp
*.py

# User settings
settings.json
